
<suite name="Suite1">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="tests.TestNG_Demo1"/>
      <class name="tests.TestNG_Demo2"/>
      <class name="tests.TestNG_Demo3"/>
      	<method>
      		<exclude name = "googleSearchTest3" > </exclude>
      	</method>
    </classes>
  </test> 
</suite> 
